body {
  background: rgb(227,255,231);
  background: linear-gradient(90deg, rgba(227,255,231,1) 0%, rgba(222,244,242,1) 33%, rgba(222,244,242,1) 66%, rgba(217,231,255,1) 100%);
  /*background: linear-gradient(90deg, #030321 0%, #000851 100%);*/
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.heading {
  margin: auto;
  text-align: center;
  color: #001f3f;
  font-size: 5vw;
  font-variant: small-caps;
  line-height: 1em;
  padding-top: 2%;
}

.sub-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 1.5vw;
  font-weight: normal;
  color: #333;
  text-align: center;
  margin: auto;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-bottom: 20vh;
  line-height: 1.2em;
}

.footer-line {
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

tr:nth-child(even) {
  background-color: #ededed;
}

td:nth-child(odd) {
  padding-left: 10px!important;
}

td:nth-child(even) {
  width: 100%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media (max-width: 1680) {
  .heading {
    font-size: 1.0em;
    font-variant: small-caps;
    line-height: 1.2em;
    padding-bottom: 2%;
    padding-top: 2%;
  }
}

@media (max-width: 1337px) and (orientation: portrait) {
  .heading {
    font-size: 5.0em;
    font-variant: small-caps;
    line-height: 1.2em;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .only-mobile-text {
    font-size: 1.47em;
  }

  .sub-heading {
    font-size: 22px;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 23%;
    line-height: 1.1em;
  }
}

@media (max-width: 1332px) and (orientation: landscape) {
  .heading {
    font-size: 4.0em;
    font-variant: small-caps;
    line-height: 1.2em;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .sub-heading {
    font-size: 24px;
    padding-right: 7%;
    padding-left: 7%;
    padding-bottom: 10%;
    line-height: 1.1em;
  }
}

@media (max-width: 765px) {
  .footer-line {
    padding-right: 18px;
    padding-left: 18px;
    text-align: justify;
    text-align-last: center;
  }

  tr {
    font-size: 1.25em;
    word-break: normal;
  }

  td:nth-child(odd) {
    padding-left: 0;
  }

  td:nth-child(even) {
    width: 0;
  }

  .mobile-hide {
    display: none!important;
  }
}

@media (max-width: 765px) and (orientation: portrait) {
  .heading {
    font-size: 2.65em;
    font-variant: small-caps;
    line-height: 1.2em;
    padding-bottom: 5%;
    padding-top: 2%;
  }

  .sub-heading {
    font-size: 17px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 6%;
    line-height: 1.1em;
    text-align: justify;
    text-align-last: center;
  }

  .only-mobile-text {
    font-size: 1.45em;
    display: block;
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .heading {
    font-size: 5.5vw;
    font-variant: small-caps;
    line-height: 1.1em;
    padding-top: 2%;
  }

  .sub-heading {
    font-size: 17px;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-bottom: 1%;
    line-height: 1.1em;
    text-align: justify;
    text-align-last: center;
  }
}

@media (max-width: 765px) and (orientation: landscape) {
  .heading {
    font-size: 6vw;
    font-variant: small-caps;
    line-height: 1.1em;
    padding-top: 2%;
  }

  .sub-heading {
    font-size: 17px;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 1%;
    line-height: 1.1em;
    text-align: justify;
    text-align-last: center;
  }

  .footer-line {
    bottom: -35vh;
  }
}
